@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins",sans-serif;*/
    font-family: "Lato", cursive;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    /*background: radial-gradient(#777,#222);*/
    background: #dddddd;
}

/* style welcome part */
.welcome
{
    width: 100%;
    height: 100vh;
    background: #8c7207;
}

.welcome h1
{
    color: #dddddd;
    padding-top:13%;
    text-align: center;
    font-size: 6vw;
}

.welcome h4
{
    color:rgb(180, 175, 175);
    /*padding: 25px 400px;*/
    margin: 2%;
    font-size: 3vw;
    text-align: center;
}

/* style welcome part */

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* style project part */
.project
{
    width: 100%;
    min-height: 100vh;
    /*position: relative;*/
    margin: 10vh;
}

.project h2
{
    padding: 0px 20px 40px 0px;
    text-align: center;
    color: rgb(80, 77, 77);
    font-size: 3vw;
}

/* Style the tab */
.tab {
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #8c7207;
    color: #dddddd ;
    padding: 5vh 0vh;
    margin: 6vh auto;
    width: 25.5%;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.22vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(207, 196, 146);
    transform: scale(1.1);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

/* Style the link */
.link {
    text-decoration: none;
    color: black;
}

/* Style the table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
.team
{
    width: 80%;
    position: relative;
    justify-content: center;
    min-height: 50px;
    background: #ccc;
    border-top: solid 2px #8c7207;
    border-width: 2px;
    /* increase */
    margin:20px 0px;
}
.team h2
{
    text-align: center;
    color: rgb(80, 77, 77);
    padding: 8vh;
    font-size: 2.5vw;
}
.card
{
    width: 48%;
    height: 20vw;
    overflow: hidden;
    border-radius: 10px;
    margin: 0vh auto;
    /*display: inline-block;*/
    float:left;
}
.card .circle
{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clip-path: circle();
    float: left;
    margin: -6vh 0vh 0vh 10vh
}
/*.card .circle::before
{
    content: '';
    /*position: absolute;
   /* top: -8px;
    left: -16px;
    width: 100%;
    height: 100%;*/
    /*box-shadow: 0 0 0 2px #8c7207;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
}*/
.circle .imgBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgBox img
{
   /* position: absolute;
    top: 0;
    left: 0;*/
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.imgBox img:hover
{
    transform: scale(1.1);
}
.card .content
{
    width: 50%;
    height: 100%;
    float: right;
    /*padding: 20px 5px;*/
}
.content .fa-linkedin
{
    padding: 0.75vh 0.75vh;
    color: #fff;
    background: #0077b5;
    border-radius: 1vh;

}

.content .fa-github
{
    padding: 0.75vh 0.75vh;
    color: rgb(19, 18, 18);
    border-radius: 2vh;
    transform: scale(1.2);
    margin-left: 4vh;

}

.content h3
{
    font-size: 1.5vw;
    color: rgb(80, 77, 77);
    margin-top: 2vh;
    margin-bottom: 2.5vh;
}
.content .textIcon
{
    width: 100%;
    margin: 10vh 0vh;
    max-height: 3vh;
}
.content a
{
    display: inline-block;
    width: 2vh;
    padding-left: 3vh;
}

.content h4
{
    color: #8c7207;
    font-weight:3px;
    font-size: 1.1vw;
    /* padding: 10px; */
    margin-bottom: 2vh;
    height: 8vh;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/
/* style footer part */
.footer
{
    min-height: 100%;
    width:100%;
}
.footer h3
{
    text-align: center;
    color: rgb(80, 77, 77);
    margin-bottom:2vh;
    font-size: 1.5vw;
}