<!DOCTYPE html>
<html>
<head>
    <title>Wuzzuf Jobs Analysis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:2000px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top w3-padding-24" style="z-index:3;width:270px" id="mySidebar">
    <div class="w3-large w3-text-grey" style="font-weight:bold">
        <a href="http://localhost:8080/View_Dataset" class="w3-bar-item w3-button">Dataset</a>
        <a href="http://localhost:8080/Dataset_Structure" class="w3-bar-item w3-button">Structure</a>
        <a href="http://localhost:8080/Dataset_Summary" class="w3-bar-item w3-button">Summary</a>
        <a href="http://localhost:8080/Clean_Dataset" class="w3-bar-item w3-button">Clean Dataset</a>
        <a onclick="companiesFunc()" href="javascript:void(0)" class="w3-button w3-bar-item w3-white w3-left-align" id="companiesBtn">
            Most Demanding Companies
        </a>
        <div id="companies" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="http://localhost:8080/Most_Demanding_Companies" class="w3-bar-item w3-button">Data</a>
            <a href="http://localhost:8080/Most_Demanding_Companies_Pie_Chart" class="w3-bar-item w3-button">Pie Chart</a>
        </div>
        <a onclick="titlesFunc()" href="javascript:void(0)" class="w3-button w3-bar-item w3-white w3-left-align" id="titlesBtn">
            Most Popular Job Titles
        </a>
        <div id="titles" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="http://localhost:8080/Most_Popular_Job_Titles" class="w3-bar-item w3-button">Data</a>
            <a href="http://localhost:8080/Most_Popular_Job_Titles_Bar_Chart" class="w3-bar-item w3-button">Bar Chart</a>
        </div>
        <a onclick="areasFunc()" href="javascript:void(0)" class="w3-button w3-bar-item w3-white w3-left-align" id="areasBtn">
            Most Popular Areas
        </a>
        <div id="areas" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="http://localhost:8080/Most_Popular_Areas" class="w3-bar-item w3-button">Data</a>
            <a href="http://localhost:8080/Most_Popular_Areas_Bar_Chart" class="w3-bar-item w3-button">Bar Chart</a>
        </div>
        <a href="http://localhost:8080/Most_Demanded_Skills" class="w3-bar-item w3-button">Most Demanded Skills</a>
        <a href="http://localhost:8080/Factorize_YearsExp" class="w3-bar-item w3-button">Factorize YearsExp</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-left fa fa-bars" onclick="w3_open()"></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:270px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge w3-padding-64">
        <h1 class="w3-center"><a href="http://localhost:8080" style="color:Black">Wuzzuf Jobs Analysis</a></h1>
    </header>

    <div class="w3-container w3-center" style="overflow-x: scroll">
        <!-- here -->
    </div>

    <!-- End page content -->
</div>

<script>
function companiesFunc() {
  var x = document.getElementById("companies");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

document.getElementById("companiesBtn").click();

function titlesFunc() {
  var x = document.getElementById("titles");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

document.getElementById("titlesBtn").click();

function areasFunc() {
  var x = document.getElementById("areas");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

document.getElementById("areasBtn").click();

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
